<html>
	<head>
		<title>Recomendador Musica</title>
	</head>
	<body>
		
		Suas paginas de musicas:
		<div th:each="page:${mpm}">
			<p th:text="${page.name}">.</p>
		</div>
		
		<h4>
			Pagina recomendada:
			<a th:href="@{'http://www.facebook.com/' + ${pr.id}}"><p th:text="${pr.name}">.</p></a>
		</h4>
		
		<form action="/postar">
		<h4>Poste na sua linha do tempo</h4>
		<input type="hidden" th:name="nomepagina" th:value="${pr.name}"/>
  		<input type="submit" value="Postar no Facebook"/>
		</form>

	</body>
</html>